/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: beige;
}

header {
    background-color: bisque;
    height: 10vh;
}

main {
    height: 80vh;
    padding: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(82, 54, 54);
    margin: 20px 0;
}

footer {
    background-color: bisque;
    text-align: center;
    line-height: 70px;
    height: 10vh;
    position: relative;
}
